.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.upper-content {
  display: flex;
  justify-content: center;
  /* Centers elements horizontally */
  align-items: center;
  /* Aligns elements vertically */
  padding-top: 25px;
  /* Adds 50px padding from the top */
  gap: 25px;
  /* Adds 50px space between the text and the image */
}

.upper-left-text {
  font-size: 4rem;
  font-weight: 200;
  color: #f0f0f0;
}

img {
  width: 200px;
  height: 200px;
  display: block;
}

.button1_signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Centers the button vertically */
  width: 100vw;
  /* Full width of the viewport */
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}